/* Imports */
@import "./loading.css";
@import "./panels/navbar.css";
@import "./panels/footer.css";
@import "./panels/heatmap.css";
@import "./panels/search.css";
@import "./panels/top.css";
/* General Body and Container Styles */
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'Inter', sans-serif;
	background: #000;
	color: #fff;
	width: 100vw;
	height: 100vh;
}

.hidden {
	display: none !important;
}

#scene-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
